<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 设置mybatis的日志, 方便调试 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!-- 设置一级缓存-->
        <setting name="localCacheScope" value="SESSION"/>
        <!-- 设置二级缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!-- 定义类型别名, 代替全限定名, 方便使用 -->
    <typeAliases>
        <!-- 定义别名时可以定义package, 则package下所有的类都自动获取别名 -->
        <package name="recaton.study.mybatis.entity"/>
        <!-- 也可以对每个类分别定义, 如下所示: -->
<!--        <typeAlias type="recaton.study.mybatis.entity.User" alias="User"></typeAlias>-->
<!--        <typeAlias type="recaton.study.mybatis.entity.Company" alias="Company"></typeAlias>-->
<!--        <typeAlias type="recaton.study.mybatis.entity.Address" alias="Address"></typeAlias>-->
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.h2.Driver"/>
                <property name="url" value="jdbc:h2:./h2/test_db"/>
                <property name="username" value="sa"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- 定义别名时可以定义package, 则package下所有的xml文件都将被解析mapper -->
        <package name="recaton/study/mybatis/mappers"/>
        <!-- 也可以对每个类分别定义, 如下所示: -->
<!--        <mapper resource="recaton/study/mybatis/mappers/UserMapper.xml"/>-->
<!--        <mapper resource="recaton/study/mybatis/mappers/CompanyMapper.xml"/>-->
<!--        <mapper resource="recaton/study/mybatis/mappers/AddressMapper.xml"/>-->
    </mappers>

</configuration>
